<!-- Remove the container if you want to extend the Footer to full width. -->

<div class="container my-5">
    <link rel="stylesheet" href="styles.css">
    <!-- Footer -->
    <footer
    
            class="text-center text-lg-start text-white"
            style="background-color: #45526e"
            >
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Tên đề tài</h6>
              <p>
                Website điểm danh
              </p>
              
            </div>

  
            <hr class="w-100 clearfix d-md-none" />
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">
                Nhóm số 8: Thành viên
              </h6>
              
              <p>1. Nguyễn Ngọc Thiện DH52001630</p>
              <p>2. Ngô Đoàn Thúy Hiền DH52001628</p>
              <p>3. Huỳnh Ngọc Thẫm DH52001726</p>
              <p>4. Nguyễn Hoàng Ngọc Phú DH52002061</p>
              <p>5. Võ Nhật Hào DH52004258</p>
            </div>
            <!-- Grid column -->
  
            
  
            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Liên hệ</h6>
              <p><i class="fas fa-home mr-3"></i> 180Đ.Cao Lỗ, P4, Q8, HCM. VIETNAM</p>
              <p><i class="fas fa-envelope mr-3"></i> Email: dh52001630@student.stu.edu.vn</p>
              <p><i class="fas fa-envelope mr-3"></i>dh52001628@student.stu.edu.vn</p>
              <p><i class="fas fa-envelope mr-3"></i>dh52001726@student.stu.edu.vn</p>
              <p><i class="fas fa-envelope mr-3"></i>dh52002061@student.stu.edu.vn</p>
              <p><i class="fas fa-envelope mr-3"></i>dh52004258@student.stu.edu.vn</p>
              <p><i class="fas fa-phone mr-3"></i> Tel:(84) 0918 726 716 </p>
            </div>
            <!-- Grid column -->
          </div>
          <!--Grid row-->
        </section>
        <!-- Section: Links -->
  
        <hr class="my-3">
  
        <!-- Section: Copyright -->
        <section class="p-3 pt-0">
          <div class="row d-flex align-items-center">
            <!-- Grid column -->
            <div class="col-md-7 col-lg-8 text-center text-md-start">
              <!-- Copyright -->
              <div class="p-3">
                © 2024 Copyright:
                <a class="text-white" href="https://mdbootstrap.com/"
                   >MDBootstrap.com</a
                  >
              </div>
              <!-- Copyright -->
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
              <!-- Facebook -->
              <a href="https://facebook.com.vn/" target="_blank" class="btn btn-outline-light btn-floating m-1 text-white" role="button">
                  <i class="fab fa-facebook-f"></i>
              </a>
          
              <!-- Zalo -->
              <a href="https://chat.zalo.me/" target="_blank" class="btn btn-outline-light btn-floating m-1 text-white" role="button">
                  <i class="fab fa-zalo"></i>
              </a>
          </div>
          
            <!-- Grid column -->
          </div>
        </section>
        <!-- Section: Copyright -->
      </div>
      <!-- Grid container -->
    </footer>
    <!-- Footer -->
  </div>
  <!-- End of .container -->